body {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 2rem;
	margin-left: 4rem;
}

input {
	height: 2rem;
	width: 10rem;
	position: absolute;
	top: 1rem;
	right: 5rem;
	background-color: 	gainsboro;
}

.axis .domain {
  display: none;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
